---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseurl: "{{ site.url }}{{ site.baseurl }}";

// @import "variables";
@import "bootstrap/bootstrap";
// @import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
// @import "bootstrap_customization";
@import "bootstrap";
@import "SHB_css";

.container {
  max-width: 1400px;
}

.container-fluid {
  max-width: 1400px;
  margin: 0 auto;
}

.container-footer {
  max-width: 1400px;
  margin: 0 auto;
}
